@charset "UTF-8";

/* 1rem == 16px */
* {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", "Pretendard", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: #666;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  z-index: 3;
}

header .header-wrap {
  display: flex;
  width: 1440px;
  height: 100%;
  align-items: center;
}

header .header-wrap .header-left {
  flex: 1;
}

header .header-wrap .header-left #logo img {
  height: 58px;
  z-index: 5;
}

header .header-wrap .header-center {
  flex: 1;
  height: 100%;
}

header .header-wrap .header-center #gnb {
  display: flex;
  height: 100%;
  margin: 0 17px;
  justify-content: center;
  align-items: center;
}

header .header-wrap .header-center #gnb ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header .header-wrap .header-center #gnb ul li {
  display: flex;
  height: 100%;
  padding: 0rem 1em;
}

header .header-wrap .header-center #gnb ul li a {
  color: white;
}

header .header-wrap .header-right {
  height: 100%;
  flex: 1;
  font-size: 16.8px;
  font-weight: 600;
  text-align: right;
}

header .header-wrap .header-right nav {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

header .header-wrap .header-right nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

header .header-wrap .header-right nav ul li {
  padding: 12px;
}

header .header-wrap .header-right nav ul li:nth-child(1) {
  color: #1580ff;
}

header .header-wrap .header-right nav ul li:nth-child(2) {
  color: white;
  padding-right: 0;
}


#main {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  background: #222;
  color: #f8fafc;
}

#main .desc {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 3.5rem;
  font-size: 16px;
  color: #fff;
}

#main .desc h1 {
  font-size: 64px;
  margin-bottom: 32px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}

#main .desc .text-box {
  font-size: 20.8px;
}

#main .desc .text-box h4:nth-child(1) {
  margin-bottom: 16px;
}

#main .media {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main .media video {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

#about {
  color: #222;
  padding: 7rem 0 5rem;
}

#about .container {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

#about .container .content-left {
  width: 50%;
  height: auto;
  color: #222;
  padding: 0 12px;
}

#about .container .content-left .desc {
  padding-top: 64px;
}

#about .container .content-left .desc h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 2rem;
}

#about .container .content-left .desc p {
  font-size: 18px;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

#about .container .content-left .btn {
  display: inline-block;
  border: 1px solid #1580ff;
  color: #1580ff;
  padding: 16px 48px 16px 20px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: all .3s;
}

#about .container .content-left .btn .arrow {
  transition: all .5s;
  position: absolute;
  transform: translate(50%, -35%);
  width: 24px;
  display: inline-block;
  fill: #1580ff;
}

#about .container .content-right {
  width: 50%;
  height: 100%;
  padding: 0 12px;
}

#about .container .content-right .image-box img {
  max-width: 100%;
  height: auto;
}

#our-product {
  width: 100%;
  height: 100%;
  padding: 80px 0;
  color: #222;
  background-color: #f8fafc;
}

#our-product .container {
  position: relative;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

#our-product .container .title-area {
  margin-bottom: 2.5rem;
}

#our-product .container .title-area .title-bar {
  width: 100%;
  padding: 0 12px;
}

#our-product .container .title-area .title-bar .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#our-product .container .title-area .title-bar .title h2 {
  font-size: 2.75rem;
}

#our-product .container .title-area .title-bar .title p {
  font-size: 1.4rem;
}

#our-product .container .content-area {
  display: flex;
}

#our-product .container .content-area .content-left {
  position: relative;
  width: 50%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1;
}

#our-product .container .content-area .content-left a {
  display: block;
}

#our-product .container .content-area .content-left h2,
#our-product .container .content-area .content-left h4 {
  position: absolute;
  z-index: 1;
}

#our-product .container .content-area .content-left a h2 {
  font-size: 2.75rem;
  color: white;
  margin-bottom: 0;
  top: 21px;
  left: 24px;
  line-height: 1.25;
}

#our-product .container .content-area .content-left a h4 {
  color: white;
  font-size: 1.5rem;
  top: 84px;
  left: 24px;
  margin: 0 0 16px;
  font-weight: 400;
}

#our-product .container .content-area .content-left .more {
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 1;
  transition: all .5s;
  background: rgba(255, 255, 255, .25);
}

#our-product .container .content-area .content-left .more img {
  width: 64px;
  height: 64px;
}

#our-product .container .content-area .content-left a .image-box {
  width: 100%;
  height: 100%;
  top: 5rem;
  left: 0;
}

#our-product .container .content-area .content-left a .image-box img {
  transition: all .5s;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  border-radius: 2%;
}


#our-product .container .content-area .content-right {
  position: relative;
  width: 50%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1;
}

#our-product .container .content-area .content-right a {
  display: block;
}

#our-product .container .content-area .content-right h2,
#our-product .container .content-area .content-right h4 {
  position: absolute;
  z-index: 1;
}

#our-product .container .content-area .content-right a h2 {
  font-size: 2.75rem;
  color: white;
  margin-bottom: 0;
  top: 21px;
  left: 24px;
  line-height: 1.25;
}

#our-product .container .content-area .content-right a h4 {
  color: white;
  font-size: 1.5rem;
  top: 84px;
  left: 24px;
  margin: 0 0 16px;
  font-weight: 400;
}

#our-product .container .content-area .content-right .more {
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 1;
  transition: all .5s;
  background: rgba(255, 255, 255, .25);
}

#our-product .container .content-area .content-right .more img {
  width: 64px;
  height: 64px;
}

#our-product .container .content-area .content-right a .image-box {
  width: 100%;
  height: 455.71px;
  top: 5rem;
  left: 0;
}

#our-product .container .content-area .content-right a .image-box img {
  transition: all .5s;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

#banner {
  width: 100%;
  height: auto;
  padding: 64px 0;
  background: linear-gradient(-65.5deg, #0c3c60 -15.1%, #1580ff 71.5%);
}

#banner .inner {
  position: relative;
  width: 1400px;
  height: 84px;
  margin: 0 60px;
  padding: 0 12px;
  align-items: center;
}

#banner .inner .text-box {
  float: left;
  color: white;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1rem;
}

#banner .inner .inquiry-btn {
  text-align: right;
  line-height: 5;
}

#banner .inner .inquiry-btn .btn {
  position: relative;
  display: inline-block;
  border: 1px solid #f8fafc;
  color: #f8fafc;
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: all .3s;
  padding-right: 3rem;
}

#banner .inner .inquiry-btn .btn .arrow {
  transition: all .5s;
  position: absolute;
  right: 1rem;
  transform: translateY(-35%);
  width: 24px;
  display: inline-block;
  fill: white;
  vertical-align: middle;
}


#tech {
  color: #222;
  padding: 7rem 0 5rem;
}

#tech .container {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 0 12px;
}

#tech .container h2 {
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 40px;
}

#tech .container .content-area {
  display: flex;
}

#techabout .container .content-left {
  position: relative;
  width: 33.333%;
  height: auto;
  color: #222;
  flex: 0 0 auto;
}

#tech .container .content-left h4 {
  font-size: 24px;
  margin: 0 0 16px;
  font-weight: 400;
  line-height: 1.5;
}

#tech .container .content-left .more-btn {
  display: inline-block;
  border: 1px solid #1580ff;
  padding: 16px 48px 16px 20px;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
  transition: all .3s;
}

#tech .container .content-left .more-btn a {
  color: #1580ff;
  font-weight: 500;
}

#tech .container .content-left .more-btn .arrow {
  transition: all .5s;
  position: absolute;
  transform: translate(50%, -35%);
  width: 24px;
  display: inline-block;
  fill: #1580ff;
}

#tech .container .content-area .content-center {
  position: relative;
  flex: 0 0 auto;
  width: 33.33333333%;
  padding: 0;
}

#tech .container .content-area .content-center a {
  display: block;
  position: relative;
  border-radius: 12px;
  height: 500px;
  background: #f8fafc;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  transition: all .5s;
}

#tech .container .content-area .content-center a .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 32px;
}

#tech .container .content-area .content-center a .text-box h3 {
  color: white;
  font-size: 34px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0 0 16px;
}

#tech .container .content-area .content-center a p {
  color: white;
  font-size: 18px;
  line-height: 1.75;
  font-weight: 400;
  margin: 0 0 16px;
}

#tech .container .content-area .content-center .more {
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 1;
  background: rgba(255, 255, 255, .25);
  transition: all .5s;
}

#tech .container .content-area .content-center .more img {
  width: 64px;
  height: 64px;
}

#tech .container .content-area .content-center a .image-box {
  width: 100%;
  height: 100%;
}

#tech .container .content-area .content-center a .image-box img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}


#tech .container .content-area .content-right {
  position: relative;
  flex: 0 0 auto;
  width: 33.33333333%;
  padding: 0;
}

#tech .container .content-area .content-right a {
  display: block;
  position: relative;
  border-radius: 12px;
  height: 500px;
  background: #f8fafc;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  transition: all .5s;
}

#tech .container .content-area .content-right a .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 32px;
}

#tech .container .content-area .content-right a .text-box h3 {
  color: white;
  font-size: 34px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0 0 16px;
}

#tech .container .content-area .content-right a p {
  color: white;
  font-size: 18px;
  line-height: 1.75;
  font-weight: 400;
  margin: 0 0 16px;
}

#tech .container .content-area .content-right .more {
  position: absolute;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 1;
  background: rgba(255, 255, 255, .25);
  transition: all .5s;
}

#tech .container .content-area .content-right .more img {
  width: 64px;
  height: 64px;
}

#tech .container .content-area .content-right a .image-box {
  width: 100%;
  height: 100%;
}

#tech .container .content-area .content-right a .image-box img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

#partner {
  width: 100%;
  height: 570px;
  padding: 80px 0;
  background-image: url('../images/main-investors-1.jpg');
  background-color: #0c3c60;
  background-size: cover;
  background-position: 50% 50%;
}

#partner .container {
  max-width: 1400px;
  height: 410px;
  margin: 0 auto;
}

#partner .container .title {
  text-align: left;
  margin: 0 -12px 40px;
}

#partner .container .title .text-box {
  width: 100%;
  padding: 0 12px;
}

#partner .container .title .text-box h2 {
  margin: 0;
  color: white;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}

#partner .container article {
  width: 100%;
  background: #fff;
  padding: 32px 0;
  border-radius: 8px;
}